<h3> 登録済み情報一覧 </h3>

<table boader="1" width="70%">
  <tr>
    <th>id</th>
    <th>置き換える文字列</th>
    <th>URL</th>
    <th></th>
    <th></th>
  </tr>

  <% @datalist=UrlStores.all %>
  <% if @datalist %>
  <% @datalist.each do | data | %>
  <tr class="changeset <%= cycle 'even', 'odd' %>">
    <td> <%= data.id %> </td>
    <td> <%= data.replace_string %> </td>
    <td> <%= data.replace_url %> </td>
    <td> <a href="none">編集</a> </td>
    <td> <a href="none">削除</a> </td>
  </tr>
  <% end %>
  <% end %>
</table>

<h3>操作</h3>
<%= link_to('新規登録', :controller => 'add_link', :action => 'add_index') %>



